body {
    
    background-color: #befac9;
}

h1 {
    text-align: center;
}

header {
    height: 80px;
    padding: 1em;
    background: #bee6fa;
    display: block;
}

.modal-content {
    margin-top: 25%;
}
